<div class="columns is-gapless m-0 flow-shell" x-data="{ menu: false }">
  <div class="column">
    {% include navbar.html mode="mobile-only" %}
    {% if site.client_search.enabled %}
    <div class="flow-topbar">
      {% include search_slot.html %}
    </div>
    {% endif %}
    <main class="section">
      <div class="content">
        {{ content }}
      </div>
    </main>
  </div>
  <aside class="column is-narrow flow-sidebar flow-right has-background-light" :class="{ 'is-hidden-mobile': !menu }" @click.outside="menu = false">
    {% include sidebar.html %}
  </aside>
</div>
